h1{
    text-align: center;
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Shadows Into Light', cursive;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    background-color: #dddddd;
}

li {
    display: inline;
}

li a {
      padding: 8px;
}

.center {
    width:600px;
    height:600px;
}

.active {
    background-color: #00CED1;
}

h2 {
    text-align: left;
}

/* Select the select element */
select {
    /* Set the width to 300 pixels */
    width: 300px;
    /* Set the height to 40 pixels */
    height: 40px;
    /* Set the font size to 18 pixels */
    font-size: 18px;
    /* Set the font family to Arial */
    font-family: Arial;
    /* Set the border to 2 pixels solid black */
    border: 2px solid black;
    /* Set the border radius to 10 pixels */
    border-radius: 10px;
    /* Set the padding to 5 pixels */
    padding: 5px;
    /* Set the background color to light blue */
    background-color: lightblue;
  }
  
  /* Select the option elements */
  option {
    /* Set the font size to 16 pixels */
    font-size: 16px;
    /* Set the font family to Arial */
    font-family: Arial;
    /* Set the padding to 5 pixels */
    padding: 5px;
  }
  
  /* Select the option elements when they are hovered */
  option:hover {
    /* Set the background color to light green */
    background-color: lightgreen;
  }
  
  /* Select the option elements when they are selected */
  option:selected {
    /* Set the background color to light yellow */
    background-color: lightyellow;
  }

  /* Select the form element */
form {
    /* Set the margin to 20 pixels */
    margin: 20px;
  }
  
  /* Select the input element */
  input {
    /* Set the width to 300 pixels */
    width: 300px;
    /* Set the height to 40 pixels */
    height: 40px;
    /* Set the font size to 18 pixels */
    font-size: 18px;
    /* Set the font family to Arial */
    font-family: Arial;
    /* Set the border to 2 pixels solid black */
    border: 2px solid black;
    /* Set the border radius to 10 pixels */
    border-radius: 10px;
    /* Set the padding to 5 pixels */
    padding: 5px;
  }
  
  /* Select the unordered list element */
  ul {
    /* Set the list style to none */
    list-style: none;
    /* Set the margin to 0 */
    margin: 0;
    /* Set the padding to 0 */
    padding: 0;
  }
  
  /* Select the list item elements */
  li {
    /* Set the font size to 16 pixels */
    font-size: 16px;
    /* Set the font family to Arial */
    font-family: Arial;
    /* Set the padding to 10 pixels */
    padding: 10px;
    /* Set the border bottom to 1 pixel solid gray */
    border-bottom: 1px solid gray;
  }
  
  /* Select the list item elements when they are hovered */
  li:hover {
    /* Set the background color to light blue */
    background-color: lightblue;
  }